<div class="container">
  <h4>My Cart</h4>
  <% if cart_size == 0 %>
    <h6>Your cart is currently empty</h6>
    <%= link_to 'Start Shopping', items_path, class: "waves-effect waves-light btn" %>
  <% else %>
        <table class="highlight">
          <thead>
            <th>Items</th>
            <th>Quantity</th>
            <th>Item Subtotal</th>
            <th></th>
          </thead>
          <% for oi in @order_items %>
            <tr>
              <td><%= link_to oi.item.name, item_path(oi.item) %></td>
              <td class="valign-wrapper">
                <a href="<%= add_cart_path(oi.item_id) %>"><i class="material-icons">arrow_upward</i></a>
                <%= oi.quantity %>
                <% if oi.quantity > 1 %>
                  <a href="<%= sub_cart_path(oi.item_id) %>"><i class="material-icons">arrow_downward</i></a>
                <% end %>
              </td>
              <td><%= number_to_currency oi.subtotal Date.today.to_date %></td>
              <td><a href="<%= remove_cart_path(oi.item_id) %>" class="secondary-content"><i class="material-icons">close</i></a><td>
            </tr>
          <% end %>
        </table>
        <div class="row"></div>
        <div class="row">
          <div class="col s4">
            <ul class="collection">
                <li class="collection-item">
                  <div>
                    Subtotal
                    <span class="secondary-content"><%= number_to_currency @items_total %></span>
                  </div>
                </li>
                <li class="collection-item">
                  <div>
                    Shipping Cost
                    <span class="secondary-content"><%= number_to_currency @shipping_costs %></span>
                  </div>
                </li>
                <li class="collection-item">
                  <div>
                    Order Total
                    <span class="secondary-content"><%= number_to_currency @items_total + @shipping_costs %></span>
                  </div>
                </li>
            </ul>
          </div>
        </div>
    <div class="row">
      <%= link_to 'Checkout', new_order_path, class: "waves-effect waves-light btn" %>
    </div>
  <% end %>
</div>
