<div class="card<%= if ((defined? highlight) and highlight) then ' teal' end %>">
  <div class="card-content">
    <b><%= "#{address.recipient}#{if address.is_billing then ' (Billing Address)' end}" %></b><br/>
    <%= address.street_1 %><br/>
    <% if address.street_2 and not address.street_2.chomp.empty? %>
      <%= address.street_2 %><br/>
    <% end %>
    <%= "#{address.city}, #{address.state} #{address.zip}" %>
  </div>
  <div class="card-action valign-wrapper">
    <%= link_to "Edit", edit_address_path(address) %>
    <% if current_user && current_user.role?(:admin) %>
      <form method="get" action="<%= delete_address_path(address) %>">
        <input type="submit" value="Delete" class="btn btn-small orange right waves-effect waves-effect-light">
      </form>
    <% end %>
  </div>
</div>
