<!--<p class="supertiny">&nbsp;</p>

<footer id="footer" class="center-align page-footer">

  <div class="container">
    <%= link_to 'About Us', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
    <%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
    <%= link_to 'Privacy Policy', privacy_path %>
  </div>

  <div id="copy" class="center-align footer-copyright">
    <p>Webmaster: <%= mail_to("mjkern@andrew.cmu.edu", "Matthew Kern", encode: "javascript") %></p>
    &nbsp;&nbsp;&copy 2019
  </div>

  </div>-->
  <!--
        <footer class="center page-footer">
            <div class="row">
              <div class="col s12">
                <div class="container center">
      <%= link_to 'About Us', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
      <%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
      <%= link_to 'Privacy Policy', privacy_path %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <p>Webmaster: <%= mail_to("mjkern@andrew.cmu.edu", "Matthew Kern", encode: "javascript") %> &copy 2019</p>
              </div>
            </div>
            </footer>
  -->
<footer class="center page-footer">
  <div class="container">
    <%= link_to 'About Us', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
    <%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
    <%= link_to 'Privacy Policy', privacy_path %>
  </div>
  <div class="container">
    <p>Webmaster: <%= mail_to("mjkern@andrew.cmu.edu", "Matthew Kern", encode: "javascript") %> &copy 2019</p>
  </div>
</footer>
