<nav id="nav">
  <div class="container">
    <ul class="right">
      <li><%= link_to 'Customers', customers_path %></li>
      <li><%= link_to 'Addresses', addresses_path %></li>
      <li><%= link_to 'Orders', orders_path %></li>
      <li>
				<% if logged_in? %>
          <%= link_to 'Logout', logout_path %>
          <br>[<%= current_user.username %>:<%= current_user.role %>]
        <% else %>
          <%= link_to 'Login', login_path %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
