<nav class="nav-extended">
  <div class="nav-wrapper">
    <%= link_to(image_tag('logo.png'), home_path) %>
    <a href="<%= home_path %>" class="brand-logo">The Baking Factory</a>
  </div>
  <div class="nav-content">
    <span class="nav-title"></span>
    <ul class="right valign-wrapper">
      <% if logged_in? %>
        <% if current_user.role?(:admin) %>
          <li><%= link_to 'Customers', customers_path %></li>
          <li><%= link_to 'Addresses', addresses_path %></li>
          <li><%= link_to 'Orders', orders_path %></li>
        <% elsif current_user.role?(:customer) %>
          <li><%= link_to 'All Products', items_path %></li>
          <li><%= link_to 'Past Orders', orders_path %></li>
          <li><%= link_to 'My Home', home_path %></li>
          <li><a href="<%= cart_path %>" class="btn-floating btn waves-effect waves-light red"><i class="material-icons">shopping_cart</i></a></li>
          <li><a class="btn-floating btn-flat disabled" style="margin-left: -100%;"><p class="center" style="margin-top: -0.5em; color: #000000"><%= cart_size %></p></a></li>
         <!-- Dropdown Trigger -->
         <a class='dropdown-trigger btn' href='#' data-target='userMenu' style='margin-left: -2.5em;'><%= "Welcome, #{current_user.username}" %><i class="material-icons right">arrow_drop_down</i></a>

        <!-- Dropdown Structure -->
          <ul id='userMenu' class='dropdown-content'>
            <li><%= link_to 'My Account', user_path(current_user) %></li>
            <li><%= link_to 'Manage Addresses', addresses_path %></li>
            <li><%= link_to 'Logout', logout_path %></li>
          </ul>
        <% end %>
        <li><%= link_to 'Logout', logout_path, class: "waves-effect waves-light btn" %></li>
      <% else %>
        <li><%= link_to 'Login', login_path, class: "waves-effect waves-light btn" %></li>
      <% end %>
    </ul>
  </div>
</nav>
