<% orders ||= Order.chronological %>
<% selected ||= @order %>
<% if defined?(first_active) then first = first_active else first = false end %>
<ul class="collapsible">
  <% for order in orders %>
    <li<%= order == selected ? " class=active" : '' %>>
      <div class="collapsible-header row valign-wrapper" style="margin-bottom: 0;">
        <div class="col s2"><h6><%= format_date order.date %></h6></div>
        <div class="col s8"><%= render partial: 'partials/address_one_line', locals: { address: order.address } %></div>
        <div class="col s2"><span class="right"><%= number_to_currency order.grand_total %></span></div>
      </div>
      <div class="collapsible-body">
        <%= render partial: 'partials/order_summary', locals: { order: order } %>
      </div>
    </li>
    <% first = false %>
  <% end %>
</ul>
<%= will_paginate orders, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
