<% orders ||= Order.chronological %>
<% selected ||= @order %>
<% if defined?(first_active) then first = first_active else first = false end %>
<ul class="collapsible">
  <% for order in orders %>
    <li<%= order == selected ? " class=active" : '' %>>
      <div class="collapsible-header row valign-wrapper" style="margin-bottom: 0;">
        <div class="col s2"><h6><%= format_date order.date %></h6></div>
        <div class="col s8"><%= render partial: 'partials/address_one_line', locals: { address: order.address } %></div>
        <div class="col s2"><span class="right"><%= number_to_currency order.grand_total %></span></div>
      </div>
      <div class="collapsible-body">
        <table class="highlight">
          <thead>
            <th>Items</th>
            <th>Quantity</th>
            <th>Item Subtotal</th>
          </thead>
          <% for oi in order.order_items %>
            <tr>
              <td><%= link_to oi.item.name, item_path(oi.item) %></td>
              <td><%= oi.quantity %></td>
              <td><%= number_to_currency oi.subtotal order.date %></td>
            </tr>
          <% end %>
        </table>
        <div class="row"></div>
        <div class="row">
          <div class="col s4">
            <ul class="collection">
                <li class="collection-item">
                  <div>
                    Subtotal
                    <span class="secondary-content"><%= number_to_currency order.grand_total - order.shipping_costs %></span>
                  </div>
                </li>
                <li class="collection-item">
                  <div>
                    Shipping Cost
                    <span class="secondary-content"><%= number_to_currency order.shipping_costs %></span>
                  </div>
                </li>
                <li class="collection-item">
                  <div>
                    Order Total
                    <span class="secondary-content"><%= number_to_currency order.grand_total %></span>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <% first = false %>
  <% end %>
</ul>
<%= will_paginate orders, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
