<!--
# An example of nested forms if using the "accepts_nested_attributes_for" approach
# Context is projects and tasks, not customers and users
# Assumes you are using simple_form and nested_form gems:
# gem 'simple_form', '3.0.1'
# gem 'nested_form','0.3.2'

Note: this is largely taken from the example
-->

<% customer ||= @customer %>

<%= simple_nested_form_for customer, :html => { :class => 'form-horizontal' } do |customer_form| %>
  <div class="row">

		<div class="small-7 columns">
      <%= render "fields", :f => customer_form %>
    </div>

    <% if !editing %>
      <div class="small-5 columns">
        <div id="customer-user">

          <%= customer_form.simple_fields_for :user do |user_form| %>
            <%= render "users/fields", :f => user_form %>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>

	<div class="form-actions">
    <%= customer_form.submit nil, class: 'btn waves-effect waves-effect-light' %>
    <%= link_to 'Cancel', :back, class: 'button alert radius' %>
  </div>
<% end %>
