<%# render partial: "partials/index_structure", locals: {model_name: "customer",
                                                         primary: "active_customers",
                                                         secondary: nil,
                                                         sidebar: "inactive_customers"} %>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>Mangage Customers</h4>

<div class="row valign-wrapper">
  <div class="col s6">
    <nav>
      <div class="nav-wrapper">
            <form>
              <div class="input-field" method="GET" action="<%= customer_search_path %>" >
                <input id="search" type="search" name="search" value="<%= @search %>">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              </div>
            </form>
      </div>
    </nav>
  </div>
  <div class="col s6">
    <a href="<%= customers_path %>" class="btn waves-effect waves-effect-light"><i class="material-icons left">close</i>Clear Search</a>
  </div>
</div>

      <div id="tabbed">
        <tabs>
          <tab name="Active" v-bind:selected="true">
            <%= render partial: 'list', locals: {customers: @active_customers, error: "There are no active customers right now"} %>
          </tab>
          <tab name="Inactive">
            <%= render partial: 'list', locals: {customers: @inactive_customers, error: "There are no inactive customers right now"} %>
          </tab>
        </tabs>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <a href="<%= new_customer_path %>" class="waves-effect waves-light btn">Add Customer</a>
    </div>
  </div>
</div>
