
<%# render partial: "partials/form_structure", locals: {object: @order,
                                                        type_of_form: "Place an Order with the Baking Factory",
                                                        fields: "fields"} %>
<div class="container">
  <h4>Checkout</h4>
  <%= simple_form_for @order, html: { class: 'form-horizontal' } do |f| %>
    <ul class="collapsible">
      <li class="active">
        <div class="collapsible-header">Step 1: Select Address</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s12">
              <!--
              <%# for option in get_address_options %>
                <p>
                  <label>
                    <input name="order[address]" id="order_address" type="radio">
                    <span><%#= option[0] %></span>
                  </label>
                </p>
              <%# end %>
              -->
              <%# f.input_field :address_id,
                collection: get_address_options,
                as: :radio_buttons,
                id: 'address-checkout-select',
                boolean_style: :nested %>
              <% if current_user.role?(:admin) %>
                <%= f.input :address_id,
                  collection: get_address_options,
                  as: :select %>
              <% else %>
                <%= f.input :address_id,
                  collection: get_address_options,
                  as: :select,
                  selected: current_customer.billing_address.id %>
              <% end %>

            </div>
          </div>

        </div>
      </li>
      <li>
        <div class="collapsible-header">Step 2: Review Purchase</div>
        <div class="collapsible-body">
          <%= render partial: 'partials/order_summary', locals: { order: @order } %>
          <div class="row">
            <%# link_to "Edit Order", cart_path, inner_html: {class: 'btn waves-effect waves-effect-light red right'} %>
            <a href="<%= cart_path %>" class="waves-effect waves-light btn btn-small red right">Edit Order</a>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Step 3: Payment Info</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="col s3">
                  <h6>Billing Address:</h6>
                  <a href="<%= customer_path(current_customer) %>" class="waves-effect waves-light btn btn-small red">Change</a>
                </div>
                <div class="col s5">
                  <%= render partial: 'partials/address_card', locals: { address: current_customer.billing_address } %>
                </div>
                <div class="col s4">
                </div>
              </div>
            </div>
            <div class="col s12">
              <div class="row">
                <div class="col s12">
                  <%= f.input :credit_card_number, as: :string, input_html: {class: "col s12"} %>
                </div>
                <div class="col s4">
                  <%= f.input :expiration_month, collection: @months, input_html: {class: "col s6"} %>
                </div>
                <div class="col s4">
                  <%= f.input :expiration_year, collection: @years, input_html: {class: "col s6"} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn waves-effect waves-effect-light' %>
      <%= link_to 'Cancel', cart_path, :class => 'button alert radius' %>
    </div>
  <% end %>
</div>
