
<%# render partial: "partials/form_structure", locals: {object: @order,
                                                        type_of_form: "Place an Order with the Baking Factory",
                                                        fields: "fields"} %>
<div class="container">
  <h4>Checkout</h4>
  <%= simple_form_for @order, html: { class: 'form-horizontal' } do |f| %>
    <ul class="collapsible">
      <li class="active">
        <div class="collapsible-header">Select Address</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s12">
              <% for option in get_address_options %>
                <p>
                  <label>
                    <input name="address_options" type="radio">
                    <span><%= option[0] %></span>
                  </label>
                </p>
              <% end %>
              <%# f.input :address_id, collection: get_address_options, as: :radio_buttons %>
            </div>
          </div>

        </div>
      </li>
      <li>
        <div class="collapsible-header">Review Purchase</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header">Payment Info</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s12">
              <%= f.input :credit_card_number, as: :string, input_html: {class: "avg"} %>
              <%= f.input :expiration_month, collection: @months %>
              <%= f.input :expiration_year, collection: @years %>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', cart_path, :class => 'button alert radius' %>
    </div>
  <% end %>
</div>
