<% item ||= @item %>
<div class="card horizontal">
  <div class="card-image">
    <%= render partial: 'partials/item_image', locals: { item: item, classAttribute: 'materialboxed'} %>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <span class="card-title"><%= item.name %></span>
      <div class="row valign-wrapper">
        <div class="col s4">
          <p class="">Price: <%= number_to_currency item.current_price %></p>
        </div>
        <div class="col s4">
          <% if current_user.role?(:customer) %>
            <a href="<%= add_cart_path(item) %>" class="btn-floating waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
          <% end %>
        </div>
        <div class="col s4">
        </div>
      </div>
      <div class="row">
        <% if current_user.role?(:admin) %>
          <div class="col s12">
            Active:
            <div class="switch">
              <label>
                No
                <input <%= if item.active then 'checked' end %> type="checkbox" onclick='toggleItem("<%= toggle_item_path(item) %>")()' %>
                <span class="lever"></span>
                Yes
              </label>
            </div>
          </div>
        <% end %>
      </div>
      <p><%= item.description %></p>
    </div>
    <div class="card-action">
      <%= link_to "Back", :back %>
      <% if current_user.role?(:admin) %>
        <%= link_to "Edit", edit_item_path(item) %>
        <%#= link_to "Delete", delete_item_path(item) %>
      <% end %>
    </div>
  </div>
</div>
