<% item ||= @item %>
<div class="card horizontal">
  <div class="card-image">
    <%= render partial: 'partials/item_image', locals: { item: item, classAttribute: 'materialboxed'} %>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <span class="card-title"><%= item.name %></span>
      <div class="row valign-wrapper">
        <div class="col s4">
          <p class="">Price: <%= number_to_currency item.current_price %></p>
        </div>
        <div class="col s4">
          <a onclick="(function(){console.log('something is happening');x = ($.post('<%= add_cart_path(item) %>'));})()" class="btn-floating waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="col s4">
        </div>
      </div>
      <p><%= item.description %></p>
    </div>
    <div class="card-action">
      <a href="<%= items_path %>"> Back to All Items</a>
    </div>
  </div>
</div>
