<h4>Our Products</h4>
<div class="row valign-wrapper">
  <div class="col s6">
    <nav>
      <div class="nav-wrapper">
            <form>
              <div class="input-field" method="GET" action="<%= item_search_path %>" >
                <input id="search" type="search" name="search" value="<%= @search %>">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              </div>
            </form>
      </div>
    </nav>
  </div>
  <div class="col s6">
    <a href="<%= items_path %>" class="btn waves-effect waves-effect-light"><i class="material-icons left">close</i>Clear Search</a>
  </div>
</div>

<% if logged_in? and current_user.role?(:admin) %>
  <div class="row">
    <div class="col s12">
      <a href="<%= new_item_path %>" class="btn waves-effect waves-effect-light">New Item</a>
    </div>
  </div>
<% end %>

<div id="tabbed">
  <tabs>
    <tab name="All" v-bind:selected="true">
      <%= render partial: 'all', locals: { items: @items } %>
    </tab>

    <tab name="Bread">
      <%= render partial: 'all', locals: { items: @breads } %>
    </tab>

    <tab name="Muffins">
      <%= render partial: 'all', locals: { items: @muffins } %>
    </tab>

    <tab name="Pastries">
      <%= render partial: 'all', locals: { items: @pastries } %>
    </tab>
  </tabs>
</div>
